{
  "presets": ["react", ["env", {
    "targets": {
      "browsers": ["safari >= 7"]
    }
  }]],
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread"
  ],

  "env": {
    "production": {
      "presets": ["react", ["env", {
        "modules": false,
        "targets": {
          "browsers": ["safari >= 7"]
        }
      }]],
      "plugins": [
        "syntax-dynamic-import",
        "transform-object-rest-spread",
        ["styled-components", {
          "minify": true
        }]
      ]
    }
  }
}
